# docker
/docker/user.docker-compose.yml
/docker/user_files

# python
venv
.venv
.virtual_env

# ide
.idea
.vscode

# build
__pycache__
*.pyc

# tools
models
output

# os
.DS_Store
/docker/ollama
/docker/volumes
/node_modules
/docs/.vitepress/cache
