# python
venv
.virtual_env

# ide
.idea
/.vscode
.DS_Store

# build
dist
__pycache__
*.pyc

# proc
*.pid
/data

# tools
/tools/whisper-transcriber/models
/tools/whisper-transcriber/output
/tools/scrape/output
